* {
    border: 2px solid black;
    margin: 2px;
}
#body {
    display: flex;
}

header {
    text-align: center;
}

#left {
    width: 25%;
    flex: auto;
}

#right {
    width: 75%;
    flex: auto;
}

textarea {
    resize: none;
  }